body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    color: white;
    text-align: center;

}
#barChart{
    outline: 1px solid black;
    height: 300px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    transform: rotate(180deg) scale(-1, 1);
}
#barChart div{
    background-color: lime;
    width: 2vw;
    outline: 1px solid black;
}