body{
    margin: 0;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    color: white;
    text-align: center;

}
main{
    transform: rotate(180deg) scale(-1, 1);
    position: relative;
    overflow: hidden;
}
#barChart{
    height: 300px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
}
#barChart div{
    background-color: lime;
    width: 2.5vw;
    border: 1px solid black;
    transition: 0.1 linear;
}
#barChart div:hover{
    background-color: red;
}

.slide{
    animation-name: slide;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes slide {
    100%{
        transform: translate(-100%);
    }
}

#info-window{
    position: absolute;
    top: 30vw;
    left: 50vw;
    z-index: 999;
    display: none;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 1em;
    border-radius: 1em;
}